@import "@styles/reset";
@import "@styles/modal";
@import "@styles/todos";
@import "@styles/side-bar";

:root {
	/* https://coolors.co/1a1a1a-f0f0f0-016fb9-aa5042 */
	--color-primary: white;
	--color-secondary: #016fb9;
	--color-tertiary: #aa5042;
	--color-text: #1a1a1a;
}

[data-theme="dark"] {
	--color-primary: #1a1a1a;
	--color-text: #f0f0f0;
}

html {
	font-family: "roboto", sans-serif;
}

body {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr 50px;
	height: 100vh;
	background-color: var(--color-primary);
	color: var(--color-text);
}

button {
	cursor: pointer;
}

::selection {
	background-color: var(--color-secondary);
}

#theme-selector {
	position: fixed;
	z-index: 1;
	bottom: 10px;
	right: 20px;
	height: 30px;
	fill: var(--color-text);
	transition: transform 0.1s ease;
}

#theme-selector:hover {
	transform: scale(1.1);
	cursor: pointer;
}

main {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

footer {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary);
	filter: brightness(90%);
}

footer a {
	text-decoration: none;
	color: inherit;
}
