@import "@styles/reset";
@import "@styles/modal";

:root {
	/* https://coolors.co/1a1a1a-f0f0f0-016fb9-aa5042 */
	--color-primary: white;
	--color-secondary: #016fb9;
	--color-tertiary: #aa5042;
	--color-text: black;
}

[data-theme="dark"] {
	--color-primary: #1a1a1a;
	--color-text: #f0f0f0;
}

html {
	font-family: "roboto", sans-serif;
}

body {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-template-rows: 1fr 50px;
	height: 100vh;
	background-color: var(--color-primary);
	color: var(--color-text);
}

button {
	cursor: pointer;
}

::selection {
	background-color: var(--color-secondary);
}

aside {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-primary);
	filter: brightness(90%);
}

aside header img {
	height: 150px;
	aspect-ratio: 1;
	margin-bottom: 50px;
}

aside nav {
	width: 100%;
	align-self: flex-start;
	padding-top: 10px;
	user-select: none;
}

aside ul {
	list-style-type: none;
	padding-left: 0;
	text-align: center;
}

aside li {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	padding-left: 40px;
	padding-right: 20px;
	cursor: pointer;
}

aside li:hover {
	background-color: var(--color-primary);
	filter: brightness(150%);
}

aside h3 {
	font-size: 1.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

aside li span {
	font-size: 2rem;
	color: var(--color-tertiary);
	user-select: none;
	cursor: pointer;
	transition: transform 0.1s ease;
}

aside li span:hover {
	transform: scale(1.5);
}

main {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.list-container {
	height: 100%;
	width: 100%;
	padding: 50px;
}

.section {
	padding: 10px;
	border: 2px solid var(--color-text);
	border-radius: 10px;
	background-color: var(--color-primary);
	filter: brightness(90%);
}

footer {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary);
	filter: brightness(90%);
}
