.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.modal-content {
	position: relative;
	background-color: var(--color-primary);
	padding: 40px;
	border-radius: 5px;
}

#check-icon {
	padding-left: 5px;
	font-size: 1.5rem;
	user-select: none;
	cursor: pointer;

	&:hover {
		color: var(--color-secondary);
	}
}

#todo-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 500px;
}

.close-modal {
	position: absolute;
	right: 20px;
	top: 5px;
	font-size: 2rem;
	cursor: pointer;
	transition: transform 0.1s ease, color 0.1s ease;

	&:hover {
		transform: scale(1.2);
		color: var(--color-tertiary);
	}
}

.modal h2 {
	padding-bottom: 0.5rem;
	font-size: 1.5rem;
	font-weight: 250px;
}

.modal h3 {
	padding-bottom: 0.5rem;
	font-size: 1.2rem;
	font-weight: 250px;
	text-align: center;
}

.divide {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.divide button {
	width: 100px;
}

.modal button,
input {
	background: none;
	border: 1px solid var(--color-text);
	color: var(--color-text);
	border-radius: 5px;
	font-size: 1.2rem;
	outline: none;
	transition: transform 0.1s ease, color 0.1s ease;
}

.modal input:hover {
	border-color: var(--color-secondary);
}

.modal input:focus {
	border-color: var(--color-secondary);
}

.modal button:hover {
	color: var(--color-secondary);
	border-color: var(--color-secondary);
	transform: scale(1.05);
}

.modal input[type="date"] {
	align-self: flex-start;
}

.modal select {
	align-self: flex-start;
}

.hidden {
	display: none;
}
