.delete-icon {
	font-size: 2rem;
	user-select: none;
	cursor: pointer;
	transition: transform 0.1s ease;

	&:hover {
		color: var(--color-tertiary);
	}
}

.edit-icon {
	font-size: 1.5rem;
	user-select: none;
	cursor: pointer;
	transition: transform 0.1s ease;
	position: absolute;
	right: 25px;
	top: 5px;

	&:hover {
		color: var(--color-secondary);
	}
}
