#todo-container {
	display: flex;
	flex-direction: column;
	gap: 6px;
	height: 100%;
	width: 100%;
	padding: 40px;
}

.todo {
	border: 2px solid var(--color-text);
	border-radius: 10px;
	background-color: var(--color-primary);
	filter: brightness(90%);
}

.todo-content {
	border-left: 20px solid rgb(0, 0, 0, 0);
	border-radius: 7px;
	padding: 10px;
	padding-left: 40px;
}

.newTodoBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
	border: 2px solid var(--color-text);
	border-radius: 10px;
	background: var(--color-primary);
	user-select: none;
	transition: padding 0.2s ease;
}

.newTodoBtn:hover {
	padding: 6px;
	filter: brightness(150%);
	cursor: pointer;
}

.newTodoBtn svg {
	height: 3rem;
	fill: var(--color-text);
}

.todoDropDown svg {
	position: absolute;
	left: 20px;
	fill: var(--color-text);
	height: 2rem;
	width: 2rem;
	transition: transform 0.3s ease;
}

.dropdown-open {
	transform: rotate(90deg);
}

.todo-icon-container {
	position: absolute;
	right: 20px;
	top: 5px;
}

.priority-low {
	border-left: 20px solid green;
}

.priority-medium {
	border-left: 20px solid yellow;
}

.priority-high {
	border-left: 20px solid red;
}
